:root {
  overflow-x: hidden;
}
.center-cropped {
  object-fit: cover;
  object-position: center;
  height: 200px;
  width: 200px;
}

.center-cropped-detail {
  object-fit: cover;
  object-position: center;
  height: 200px;
  width: 200px; 
}

#body {
  position: relative;
  min-height: 100vh;
}

.footer {
  position: absolute;
  padding-top: 18px;
  padding-bottom: 1px;
  bottom: 0 !important;
  width: 100% !important;
  border-radius: 0 !important;
}

.login-page {
  margin-top: 120px;
}
.daftar-page {
  margin-top: 30px;
}


.title-barang-detail {
  padding-top: 35px;
  padding-bottom: 30px;
}

.card-detail-barang {
  width: 100%;
  padding:35px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}